# Project Stage 1

## Task-3


> Create a team notebook to read in the COVID-19 data (cases, deaths, and population) using pandas and display the dataframe in a notebook.
> Merge all the three variables (cases, deaths, and population) to create a super COVID-19 datafame. Export it to a csv format.

In [2]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Reading Confirmed, Death and Population data**

In [35]:
#reading confirmed covid cases file
confirmed_cases = pd.read_csv("../../data/covid_confirmed_usafacts.csv")

#reading confirmed dataset
deaths = pd.read_csv("../../data/covid_deaths_usafacts.csv")

#read population dataset
total_population = pd.read_csv("../../data/covid_county_population_usafacts.csv")

In [36]:
confirmed_cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-02-08,2022-02-09,2022-02-10,2022-02-11,2022-02-12,2022-02-13,2022-02-14,2022-02-15,2022-02-16,2022-02-17
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,15089,15089,15155,15216,15216,15216,15325,15350,15366,15387
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,53992,53992,54203,54301,54301,54301,54481,54545,54614,54663
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,5372,5372,5391,5402,5402,5402,5411,5413,5413,5422
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,6244,6244,6283,6294,6294,6294,6317,6331,6336,6345

In [37]:
deaths.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-02-08,2022-02-09,2022-02-10,2022-02-11,2022-02-12,2022-02-13,2022-02-14,2022-02-15,2022-02-16,2022-02-17
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,171,171,173,173,173,173,176,177,181,181
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,624,624,626,626,626,626,626,629,630,631
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,85,85,87,87,87,87,89,90,91,91
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,96,96,97,97,97,97,97,98,98,98

In [41]:
deaths = pd.melt(frame = deaths, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Death")

In [42]:
deaths.head()

   countyFIPS            County Name State  StateFIPS        Date  Death
0           0  Statewide Unallocated    AL          1  2020-01-22      0
1        1001        Autauga County     AL          1  2020-01-22      0
2        1003        Baldwin County     AL          1  2020-01-22      0
3        1005        Barbour County     AL          1  2020-01-22      0
4        1007           Bibb County     AL          1  2020-01-22      0

In [38]:
total_population.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

**Converting data from wide to long format**

In [39]:
confirmed_cases=df = pd.melt(frame = confirmed_cases, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Cases")

In [40]:
confirmed_cases.shape

(2420294, 6)

In [32]:
deaths = pd.melt(frame = deaths, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Death")

C:\Users\nikhi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
deaths

         countyFIPS            County Name State  StateFIPS   Date       Death
0                 0  Statewide Unallocated    AL          1   Date  2020-01-22
1              1001        Autauga County     AL          1   Date  2020-01-22
2              1003        Baldwin County     AL          1   Date  2020-01-22
3              1005        Barbour County     AL          1   Date  2020-01-22
4              1007           Bibb County     AL          1   Date  2020-01-22
...             ...                    ...   ...        ...    ...         ...
4840583       56037     Sweetwater County     WY         56  Death         122
4840584       56039          Teton County     WY         56  Death          15
4840585       56041          Uinta County     WY         56  Death          36
4840586       56043       Washakie County     WY         56  Death          42
4840587       56045         Weston County     WY         56  Death          17

[4840588 rows x 6 columns]

**Merging confirmed cases and deaths data**

In [12]:
covid_combined_dataset = pd.merge(confirmed_cases,deaths,
        on = ['countyFIPS','County Name',"State",'StateFIPS',"Date"])

In [13]:
covid_combined_dataset = covid_combined_dataset[covid_combined_dataset['County Name'] != 'Statewide Unallocated']

In [15]:
covid_combined_dataset

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
5,1009,Blount County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
2420289,56037,Sweetwater County,WY,56,2022-02-17,10901,122
2420290,56039,Teton County,WY,56,2022-02-17,9621,15
2420291,56041,Uinta County,WY,56,2022-02-17,5584,36
2420292,56043,Washakie County,WY,56,2022-02-17,2289,42
2420293,56045,Weston County,WY,56,2022-02-17,1528,17

In [21]:
covid_combined_dataset["Date"]= pd.to_datetime(covid_combined_dataset["Date"])

In [22]:
type(covid_combined_dataset["Date"][1])

pandas._libs.tslibs.timestamps.Timestamp

**Cleaning Population data before merging it with cases and deaths data**

In [23]:
total_population.drop('County Name',axis=1,inplace=True)
total_population.head()

   countyFIPS State  population
0           0    AL           0
1        1001    AL       55869
2        1003    AL      223234
3        1005    AL       24686
4        1007    AL       22394

**Merging population data with cases and deaths data**

In [24]:
covid_combined_dataset = pd.merge(covid_combined_dataset, total_population)

In [25]:
covid_combined_dataset

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death,population
0,1001,Autauga County,AL,1,2020-01-22,0,0,55869
1,1001,Autauga County,AL,1,2020-01-23,0,0,55869
2,1001,Autauga County,AL,1,2020-01-24,0,0,55869
3,1001,Autauga County,AL,1,2020-01-25,0,0,55869
4,1001,Autauga County,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...
2381631,56045,Weston County,WY,56,2022-02-13,1524,17,6927
2381632,56045,Weston County,WY,56,2022-02-14,1524,17,6927
2381633,56045,Weston County,WY,56,2022-02-15,1528,17,6927
2381634,56045,Weston County,WY,56,2022-02-16,1528,17,6927
2381635,56045,Weston County,WY,56,2022-02-17,1528,17,6927

**The consolidated data file size is beyond 100MB and in order to handle it, we use parquet.
To work with *parquet*, we need to install *pyarrow***

In [26]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-7.0.0-cp39-cp39-win_amd64.whl (16.1 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\nikhi\anaconda3\lib\site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-7.0.0
Note: you may need to restart the kernel to use updated packages.

**Converting the consolidated file to parquet format**

In [15]:
covid_combined_dataset.to_parquet("../../data/covid_combined_dataset.parquet.gzip",compression='gzip')

**Reading from parquet**

In [3]:
pd.read_parquet("../../data/covid_combined_dataset.parquet.gzip")

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death,population
0,1001,Autauga County,AL,1,2020-01-22,0,0,55869
1,1001,Autauga County,AL,1,2020-01-23,0,0,55869
2,1001,Autauga County,AL,1,2020-01-24,0,0,55869
3,1001,Autauga County,AL,1,2020-01-25,0,0,55869
4,1001,Autauga County,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...
2381631,56045,Weston County,WY,56,2022-02-13,1524,17,6927
2381632,56045,Weston County,WY,56,2022-02-14,1524,17,6927
2381633,56045,Weston County,WY,56,2022-02-15,1528,17,6927
2381634,56045,Weston County,WY,56,2022-02-16,1528,17,6927
2381635,56045,Weston County,WY,56,2022-02-17,1528,17,6927

In [31]:
covid_combined_dataset['State'].value_counts()

TX    192532
GA    120522
VA    100814
KY     90960
MO     87170
KS     79590
IL     77316
NC     75800
IA     75042
TN     72010
NE     70494
IN     69736
OH     66704
MN     65946
MI     62914
MS     62156
OK     58366
AR     56850
WI     54576
PA     50786
AL     50786
FL     50786
SD     50028
CO     48512
LA     48512
NY     46996
CA     43964
MT     42448
WV     41690
ND     40174
SC     34868
ID     33352
WA     29562
OR     27288
NM     25014
AK     21982
UT     21982
MD     18192
WY     17434
NJ     15918
NV     12886
ME     12128
AZ     11370
VT     10612
MA     10612
NH      7580
CT      6064
RI      3790
HI      3790
DE      2274
DC       758
Name: State, dtype: int64

State Consideered : IL